*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}
.hero{
    min-height: 100vh;
    background-image: url(SociallyImages/back-image.png);
    width: 100%;
    background-image: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}
.logo{
    width: 140px;
}
nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a {
    text-decoration: none;
    font-weight: 400;
    color:#333
}