@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    margin:0.5rem;
    text-align: center;
    font-family: "Roboto",sans-serif;
}

nav {
    border : 2px solid hsl(0, 33%, 1%);
    border-radius: 2rem;
    margin:0 auto 1rem;
    max-width:600px ;
    font-size: 3rem;
    line-height: 7rem;
}
h2{
    background-color: gold;
    border-radius: 2rem 2rem 0 0;;
}
li {
    border-top: 1px solid rgb(99, 97, 97) ;
}
li a {
    display: block;
}
nav ul li {
    list-style: none;
}

li a,
li a :visited{
    text-decoration: none;
    color:#333
}
li a:hover,
li a:focus {
    background: #333;
    color:whitesmoke;
    cursor: pointer;
   
}

li:last-child a {
    border-radius: 0 0 2rem 2rem;
}